html,
body {
  height: 100%;
  width: 100%;
  background: #f0f5fd;
}

body {
  height: 100vh;
}

img {
  width: 100%;

  @media screen and (min-width: $bp-375) {
    width: auto;
  }
}

.container-fluid {
  // margin: 0 auto 16px;
  max-width: 1100px;

  @media screen and (max-width: 1099px) {
    // margin: 0 32px 16px;
  }
}
