.aka-2-col {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: $bp-768) {
    flex-direction: row;
  }

  .column {
    width: 100%;

    @media screen and (min-width: $bp-768) {
      width: 50%;
      &:first-of-type {
        padding-right: 12px;
      }
      &:last-of-type {
        padding-left: 12px;
      }
    }

    &.cntr-txt {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      align-items: center;
      @media screen and (min-width: $bp-768) {
        justify-content: center;
        text-align: left;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__reverse {
    @media screen and (min-width: $bp-768) {
      flex-direction: row-reverse;

      .column {
        &:first-of-type {
          padding-right: 0;
          padding-left: 12px;
        }
        &:last-of-type {
          padding-right: 12px;
          padding-left: 0;
        }
      }
    }
  }

  &__border {
    .column {
      @media screen and (max-width: ($bp-768)-1) {
        border-bottom: 4px double $clr-ava-purple-drk;
        padding-bottom: 16px;
        padding-top: 16px;
        &:last-of-type {
          border-bottom: 0;
        }
      }

      @media screen and (min-width: $bp-768) {
        border: 1px solid $clr-ava-purple-drk;
        padding: 16px;

        &:first-of-type {
          margin-right: 8px;
        }
        &:last-of-type {
          margin-left: 8px;
        }
      }
    }
  }
}
