@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: $main-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}

h1 {
  font-size: 48px * 0.75;

  @media screen and (min-width: $bp-375) {
    font-size: 48px;
  }
  margin-bottom: 16px;
}
h2 {
  font-size: 32px * 0.875;

  @media screen and (min-width: $bp-320) {
    font-size: 32px;
  }
}
h3 {
  font-size: 24px * 0.875;

  @media screen and (min-width: $bp-320) {
    font-size: 24px;
  }
}

p {
  margin-bottom: 8px;
  line-height: 140%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.social--link {
  font-size: 48px;
  color: $main-black;

  @media screen {
    @media (min-width: $bp-375) {
      font-size: 64px;
    }

    @media (min-width: $bp-640) {
      font-size: 32px;
    }
    @media (min-width: $bp-768) {
      font-size: 24px;
    }
  }
}
