.footer {
  padding-top: 16px;
  padding-bottom: 16px;

  .legal {
    font-size: 75%;
  }

  &--social {
    display: flex;

    li {
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
