.footer {
  //   padding-top: 16px;
  //   padding-bottom: 16px;

  .legal {
    font-size: 75%;
    margin-top: 16px;
  }

  &--social {
    display: flex;
    justify-content: space-between;

    //     li {
    //       margin-right: 12px;

    //       &:last-of-type {
    //         margin-right: 0;
    //       }
    //     }

    &--link {
      font-size: 48px;
      color: $main-black;

      @media screen and (min-width: 375px) {
        font-size: 64px;
      }
    }
  }
}
