.footer {
  .legal {
    font-size: 75%;
    margin-top: 16px;
  }

  &--social {
    display: flex;
    justify-content: space-between;

    &--link {
      @media screen and (min-width: $bp-768) {
        &.social--link {
          font-size: 64px;
        }
      }
    }
  }
}
