.header {
  &--text-logo {
    font-size: 3rem;
    font-family: "Shadows Into Light Two", cursive;
  }

  h1 {
    color: $clr-mid-purp;
  }
  &--logo {
    object-fit: none;
  }

  &--nav {
    @media screen {
      @media (max-width: ($bp-540)-1) {
        justify-content: space-between;
      }

      @media (min-width: $bp-640) {
        display: flex;
      }

      @media (min-width: $bp-768) {
        justify-content: flex-start;
        margin-bottom: 32px;
      }
    }

    &--list {
      @media screen {
        @media (max-width: ($bp-768)-1) {
          margin-top: 16px;
          margin-bottom: 32px;
        }

        @media (min-width: $bp-640) {
          flex-grow: 1;
        }

        @media (min-width: $bp-768) {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
        }
      }

      &--social,
      &--navigation {
        @media screen and (min-width: $bp-768) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &--navigation {
        @media screen and (max-width: ($bp-768)-1) {
          margin-bottom: 16px;
        }
      }

      &--social {
        @media screen and (min-width: $bp-768) {
          flex-grow: 1;
          margin-right: 32px;
        }
      }
    }
  }

  &--navigation,
  &--social {
    display: flex;
    justify-content: space-between;
  }

  &--navigation {
    flex-direction: column;

    @media screen and (min-width: $bp-320) {
      flex-direction: row;
    }
    @media screen and (min-width: $bp-540) {
      justify-content: flex-end;

      li {
        margin-right: 32px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &--social {
    @media screen {
      @media (min-width: $bp-768) {
        justify-content: flex-end;
      }

      @media (min-width: $bp-768) {
        flex-grow: 1;

        > li {
          margin-right: 16px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  &--content {
    &--intro-copy {
      font-size: 1.33rem;
    }
  }

  &--headshot {
    width: 100%;
    display: block;
    border-radius: 50%;

    @media screen and (min-width: $bp-375) {
      width: 275px;
    }
  }
}
