.main {
  > section {
    margin-top: 16px;
    padding-bottom: 24px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &--about {
    .aka-2-col {
      &__image {
        img {
          border-top-right-radius: 8px;
        }
      }

      &__border {
        .column {
          @media (min-width: $bp-768) {
            &:first-of-type {
              border-bottom-left-radius: 8px;
            }
            &:last-of-type {
              border-bottom-right-radius: 8px;
            }
          }
        }
      }
    }
  }

  &--gallery {
    background: #fff;

    h3 {
      padding-top: 16px;
    }

    &--presslist {
      margin-top: 16px;

      li {
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &--demo-reel {
      .cntr-txt {
        font-weight: 700;
        color: darken($clr-ava-purple-comp1, 62.5%);
        @media screen and (max-width: ($bp-768)-1) {
          padding-top: 8px;
          border-bottom: 1px solid currentColor;
          padding-bottom: 8px;
        }
      }
    }
  }

  &--represent {
    &--agent {
      font-size: 1.5rem;
      padding-bottom: 12px;

      &--list {
        font-size: 16px;

        @media screen and (min-width: $bp-854) {
          display: flex;
          justify-content: space-between;
        }

        &--item {
          @media screen and (max-width: ($bp-854)-1) {
            margin-bottom: 12px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .fas {
            color: $clr-ava-purple-blk;
          }
        }
      }
    }
  }
}
