.main {
  > section {
    margin-bottom: 32px;
  }

  &--about {
    background: yellow;

    &--content {
      // background: red;
      @media screen and (min-width: $bp-854) {
        font-size: 22px;
      }
    }
  }

  &--gallery {
    background: yellow;
  }

  &--represent {
    &--agent {
      font-size: 24px;

      &:last-of-type {
        margin-bottom: 16px;
      }

      &--list {
        font-size: 16px;

        @media screen and (min-width: $bp-375) {
          font-size: 20px;
        }
        @media screen and (min-width: $bp-854) {
          display: flex;
          justify-content: space-between;
        }

        &--item {
          margin-bottom: 8px;
        }
      }
    }
  }
}
