.main {
  > section {
    margin-top: 16px;
    padding-bottom: 24px;
  }

  &--gallery {
    background: #fff;

    h2 {
      // color: $clr-teradic-green;
    }

    &--presslist {
      // background: red;

      li {
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &--demo-reel {
      .cntr-txt {
        // background: red;
        font-weight: 700;
        color: darken($clr-ava-purple-comp1, 62.5%);
      }
    }
  }

  &--represent {
    &--agent {
      font-size: 1.5rem;
      padding-bottom: 12px;

      &--list {
        font-size: 16px;

        @media screen and (min-width: $bp-854) {
          display: flex;
          justify-content: space-between;
        }

        &--item {
          .fas {
            color: darken($clr-ava-purple-drk, 6.25%);
          }
        }
      }
    }
  }
}
