$bp-280: 280px;
$bp-320: 320px;
$bp-375: 375px;
$bp-540: 540px;
$bp-640: 640px;
$bp-768: 768px;
$bp-854: 854px;
$bp-1280: 1280px;
$clr-clare-white: #f9f9f6;
$clr-grey-blue: #abbbd5;
$clr-light-ava-purple: #e0d2ed;
$clr-main-black: #09050d;
$clr-mid-purp: #442662;
$clr-teradic-blue: #264462;
$clr-teradic-green: #446226;
