$bp-280: 280px;
$bp-320: 320px;
$bp-375: 375px;
$bp-540: 540px;
$bp-640: 640px;
$bp-768: 768px;
$bp-854: 854px;
$bp-1280: 1280px;
$clr-ava-purple-blk: #08040b;
$clr-ava-purple-comp1: #d2edd3;
$clr-ava-purple-comp2: #ededd2;
$clr-ava-purple-drk: #44265f;
$clr-ava-purple-med: #7f48b3;
$clr-ava-purple-wht: #f9f6fc;
$clr-ava-purple: #e0d2ed;
$clr-clare-white: #f9f9f6;
$clr-grey-blue: #abbbd5;
$clr-teradic-blue: #d2dfed;
$clr-teradic-green: #dfedd2;
